{% extends 'base.html' %}
{% block title %}Nutriscore{% endblock %}

{% block content %}
<h1>Résultat du NutriScore</h1>
<p>Votre NutriScore est : <strong>{{ nutriscore }}</strong></p>
<a href="{% url 'predict_nutriscore' %}">Prédire une autre recette</a>
{% endblock %}
