
{% extends 'base.html' %}
{% block title %}Prédire le NutriScore{% endblock %}

{% block content %}
<h2>Prédire le NutriScore</h2>
{% if error %}
<p style="color: red;">Erreur : {{ error }}</p>
{% endif %}
<div class=" container container-fluid">
<form method="post">
{% csrf_token %}

{{ form.as_p }}
<button type="submit" class="btn btn-primary float-right">Prédire</button>
</form>
</div>
{% endblock %}


