{% extends 'base.html' %}
{% block title %}Recipe List{% endblock %}

{% block content %}
<h2>Recipe List</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Estimated Nutrition</th>
            <th>Nutriscore</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for recipe in recipes %}
        <tr>
            <td>{{ recipe.name }}</td>
            <td>{{ recipe.estimated_nutrition }}</td>
            <td>{{ recipe.predicted_nutriscore }}</td>
            <td>
                <a href="#" class="btn btn-secondary btn-sm">View</a>
                <a href="#" class="btn btn-success btn-sm">Analyze</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
