{% extends 'base.html' %}
{% block title %}Liste des catégories{% endblock %}

{% block content %}
<h2>Liste des catégories</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>
                <a href="#" class="btn btn-primary btn-sm">Détails</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination"></div>
    <span class="step-links">
        {% if categories.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ categories.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ categories.number }} of {{ categories.paginator.num_pages }}.
        </span>

        {% if categories.has_next %}
            <a href="?page={{ categories.next_page_number }}">next</a>
            <a href="?page={{ categories.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
