{% extends 'base.html' %}
{% block title %}User Profile{% endblock %}

{% block content %}
<h2>{{ profile.user.username }}'s Profile</h2>
<p><strong>Dietary Preferences:</strong> {{ profile.dietary_preferences }}</p>

<h4>Favorite Recipes</h4>
<ul class="list-group">
    {% for recipe in profile.favorite_recipes.all %}
    <li class="list-group-item">
        {{ recipe.name }}
        <a href="#" class="btn btn-danger btn-sm float-right">Remove</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
