{% extends 'base.html' %}
{% block title %}food List{% endblock %}

{% block content %}
<h2>Foods</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Groupe</th>
            <th>Type</th>
            <th>Nom Scientifique</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for food in foods %}
        <tr>
            <td>{{ food.name }}</td>
            <td>{{ food.category }}</td>
            <td>{{ food.food_group }}</td>
            <td>{{ food.food_type }}</td>
            <td>{{ food.name_scientific }}</td>
            <td>
                <a href="#" class="btn btn-primary btn-sm">Details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination float-right"></div>
    <span class="step-links">
        {% if foods.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ foods.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ foods.number }} of {{ foods.paginator.num_pages }}.
        </span>

        {% if foods.has_next %}
            <a href="?page={{ foods.next_page_number }}">next</a>
            <a href="?page={{ foods.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
