{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Analyse nutritionnelle{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
    <style>
        body {
            background-image: url("{% static 'img/cover4.jpg' %}");
            background-size: cover; /* Ajuste l'image pour couvrir tout l'écran */
            background-repeat: no-repeat; /* Évite la répétition de l'image */
            background-attachment: fixed; /* L'image reste fixe lors du défilement */
        }

        .container {
            background-color: rgba(255, 255, 255, 0.8); /* Légère transparence pour le contenu */
            padding: 20px;
            border-radius: 8px;
        }

        .footer {
            background-color: rgba(255, 255, 255, 0.6); /* Fond légèrement transparent pour le footer */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}">Analyse nutritionnelle</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Statistiques</a></li> 
                <li class="nav-item"><a class="nav-link" href="{% url 'predict' %}">Nutriscore</a></li> 
                <li class="nav-item"><a class="nav-link" href="{% url 'category_list' %}">Catégories</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
            </ul>
        </div>
    </nav>

    <div class="container mt-3 mb-5">
        <div class="container container-fluid m-2 card ">
        {% block list_header %}
        <!-- Content goes here -->
        {% endblock %}
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
     </div>
    </div>

    <footer class="footer bg-light text-center py-3 fixed-bottom">
        <p>&copy; 2024 Nutrition Analysis Project</p>
    </footer>
</body>
</html>
