{% extends 'base.html' %}
{% block title %}Ingredient List{% endblock %}

{% block content %}
<h2>Ingredient List</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Origin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for ingredient in ingredients %}
        <tr>
            <td>{{ ingredient.name }}</td>
            <td>{{ ingredient.category }}</td>
            <td>{{ ingredient.origin }}</td>
            <td>
                <a href="#" class="btn btn-primary btn-sm">Details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
