
{% extends 'base.html' %}
{% load static %}

{% block title %}Product List{% endblock %}

{% block list_header %}
<h1>Analyse statistique des données de nutrition</h1>
{% endblock %}

{% block content %}
<div>
    <img src="{% static 'graphs/pie.png' %}" class="rounded float-left col-5  m-1" alt="...">
    <img src="{% static 'graphs/dia.png' %}" class="rounded float-right  col-5  m-1" alt="...">
</div>

<p>
    Le Nutri-score est l’étiquetage officiel (mais non obligatoire) des produits transformés et des boissons. Il les classe en cinq niveaux, de A vert à E rouge selon le score obtenu. Les niveaux A et B correspondent aux aliments les plus équilibrés et peuvent être consommés très régulièrement. Pour les niveaux C et D, la consommation doit être modérée. Quant au niveau E, mieux vaut en faire une exception.

Ce score est déterminé par la composition du produit. Les nutriments et les aliments bénéfiques pour l’organisme génèrent des points positifs, tandis que ceux qui sont à éviter font descendre la note. Selon le résultat obtenu, le Nutri-score classe le produit : de A (score de -15 à -1) pour les produits les plus sains, à E (score de 19 à 40) pour les produits les moins sains.

Dans la balance positive, le Nutri-score compte : la teneur en fruits, légumes, légumineuses et oléagineux, la teneur en fibres et celle en protéines par 100 g de produit. Dans la balance négative, le Nutri-score pointe l’apport calorique par 100g, la quantité de sel, la teneur en sucre et le taux d’acides gras saturés.
</p>
<h2>Sur les emballages des produits alimentaires</h2>

<p>
    <img src="{% static 'img/nutriscore.jpg' %}" class="   m-1" alt="Nutriscore">

    <br>Un logo apposé en face avant des emballages qui informe sur la qualité nutritionnelle des produits sous une forme simplifiée et complémentaire à la déclaration nutritionnelle obligatoire (fixée par la réglementation européenne)
Basé sur une échelle de 5 couleurs : du vert foncé au orange foncé
Associé à des lettres allant de A à E pour optimiser son accessibilité et sa compréhension par le consommateur
</p>
<p>
    Source <a href="https://www.santepubliquefrance.fr/">Santé publique</a>
</p>
<h1>Modèle predictive du nutriscore</h1>
<p>
    Notre modèle est entrainé pour prédire le nuttriscore en fonction  des recettes fourrnies.
    
</p>
    <h2>Capture du résultat d'entrainement du modèle</2>
    <img src="{% static 'img/train.png' %}" class="   m-1" alt="Entrainement" style="width: 70%;">

{% endblock %}