{% extends 'base.html' %}
{% block title %}nutrient List{% endblock %}

{% block content %}
<h2>nutrient List</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for nutrient in nutrients %}
        <tr>
            <td>{{ nutrient.name }}</td>
            <td>
                <a href="#" class="btn btn-primary btn-sm">Details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
